[Unit]
Description=Sensex Trading System
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ubuntu/main_trading/main.py --mode test
Restart=always
User=ubuntu
WorkingDirectory=/home/ubuntu/main_trading

[Install]
WantedBy=multi-user.target
